boby{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: #650a81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
}
.nav-bar p{
    font-size: 30px;
    color: white;
    font-style: kanit;
    margin-right: 1rem;
    margin-left: 2rem;
}
.accest{
    display: flex;
    align-items: center;

}
.logo img{
    width: 50px;

}
.topNav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}
.topNav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: kanit;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: -10rem;

}
.container{
    width: 80%;
    margin-top: 10rem;
 
}
.mission{
    text-align: center;
    margin-bottom: 10rem;
}
.mission h4{
    font-size: 20px;
}
.mission h1{
    color: #9c18657c;
}
 .mission span{
    font-style: initial;
 }
.services{
    display: flex;
    gap: 2rem;
}
.supervisor, 
.teamkarma, 
.calculator{
    width: 33%; 
}
.supervisor, .calculator{
    height: 170px;
}
.supervisor, 
.team ,
.karma, 
.calculator{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, -7px 2px 23px 5px rgba(91,57,255,0.43); 
box-shadow: 5px 5px 5px 0px #000000, -7px 2px 23px 5px rgba(91,57,255,0.43);
    border-radius: 10px;
    padding: 50px 30px 80px 40px;
    
}
.team, .karma{
    padding: 60px 40px;
    padding-top: -10rem;
     padding-bottom: 5rem;
     height: 190px;
}
.team{
    margin-top: -6rem;
    margin-bottom: 5rem;
}
.karma{
    margin-bottom: -30%;
}
.icons img{
    float: right;
    margin-top: 5rem;
    width: 50px;
} 
.video{
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.video video{
    width: 80%;
    height: 100%;
    auto-play: true;
    loop: true;
    controls: true;
}
.table h1{
    text-align: center;
    justify-content: center;
    font-size: 2opx;
    color: #9c18657c;
    margin-bottom: 2rem;

}
.table table{
    margin-left: 10rem;
}
.table table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
}
.table p{
    text-align: left;
    margin: 1rem 0;
}
.forms{
    margin-left: 10rem;
    margin-top: 15rem;
    display: block;
}
.form-container{
    display: ruby-base;
    justify-content: left;
    align-items: center;
    background-color: #650a81
}
.form-container form{
    display: block;
    width: auto;
    min-width: 100%;
    background: #e0e1f3;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.footer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid coral;
    padding: 15px;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}